html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(140, 0, 255);
}
    .wrapper {
        padding: 30px;
        border: 1px solid gray;
    }
