.border{
    padding: 10px;
    margin: 50px;
    text-align: center;
    border-collapse: collapse;
}

table th, td{
    padding: 10px;
}

table tbody tr:nth-child(odd){
    background-color: rgb(199, 188, 188);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
