@import 'normalize';
@import 'body';
@import 'mixins';

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include transform(translateX(50px));
    li {
        a {
            text-decoration: none;
        }
    }
    li:first-child{
        a {
            color: black;
        }
    }
}

%display_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%sqare_block {
    width: 200px;
    height: 200px;
}

.block {
    @extend %sqare_block;
    background-color: white;
    @include transform(rotate(30deg));
}

.blue_block {
    @extend %sqare_block;
    @extend %display_flex_center;
    background-color: aqua;
}