html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    border: 2px solid black;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    max-width: 960px;
}

@media (max-width: 960px){
    div{
        background-color: brown;
    }
}
@media (min-width: 960px){
    div{
        border-radius: 10px;
    }
}