body, html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
}

.sandwitch{
    display: none;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    background: none;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-direction: column;
    cursor: pointer;
}

.sandwitch span{
    background-color: gray;
    height: 3px;
    width: 30px;
    display: block;
}

header {
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 2138px;
}

header .logo{
    font-size: 24px;
    color: white;
}

header nav a{
    color: rgb(151, 151, 151);
}

header nav a:hover{
    color: rgb(206, 206, 206);
}

header nav ul{
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

header input{
    height: 40px;
    border-radius: 7px;
    border: none;
    margin-left: auto;
}

header nav li ul{
    margin-top: 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.hover{
    position: relative;
    
}

.hover ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    overflow: hidden;
    transform: translateY(-50px);
}

.hover ul li a{
    display: block;
    padding: 5px 15px;
    transition: all 0.2s linear;
}

.hover ul li a:hover{
    background-color: rgb(255, 232, 232);
}

.hover:hover ul{
    opacity: 1;
    transform: translateY(0);
}

.hover a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.hover > a::after{
    display: block;
    width: 0;
    content: " ";
    border-top: 4px solid gray;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

@media (max-width: 992px){
    header nav{
        display: none;
    }
    header input{
        display: none;
    }
    .sandwitch{
        display: flex;
        margin-left: auto;
    }
}
