.container{
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    position: relative;

}
.container p{
    border: 2px solid blue;
    background-color: rgb(255, 221, 137);
    padding: 5px;
    margin-top: 0;
}
.container p.bg_red{
    background-color: rgb(255, 145, 145);
    width: 50%;
}
.positioned{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -37px !important;
    z-index: 1;
}
.fixed{
    background-color: rgb(155, 180, 255) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
}